<title>
  <%= gettext(
        "Beacon chain withdrawals - The Other Block Explorer",
        subnetwork: BlockScoutWeb.LayoutView.subnetwork_title()
    ) %>
</title>
<meta name="keywords" content="<%= gettext "Beacon chain, Withdrawals, TOB, %{coin}", subnetwork: BlockScoutWeb.LayoutView.subnetwork_title(), coin: Explorer.coin() %>">
<meta name="description" content="<%= gettext "View the beacon chain withdrawals on TOB", subnetwork: BlockScoutWeb.LayoutView.subnetwork_title() %>">
