<title>
  <%= gettext(
        "Verified contracts - The Other Block Explorer",
        subnetwork: BlockScoutWeb.LayoutView.subnetwork_title()
    ) %>
</title>
<meta name="keywords" content="<%= gettext "Verified contracts, TOB, %{coin}", subnetwork: BlockScoutWeb.LayoutView.subnetwork_title(), coin: Explorer.coin() %>">
<meta name="description" content="<%= gettext "View the verified contracts on TOB", subnetwork: BlockScoutWeb.LayoutView.subnetwork_title() %>">
